# exportPattern("^[[:alpha:]]+")
# export(rcpp_pobs,rcpp_cvm,rcpp_coptest,coptest)
export(coptest)
export(coptest.p)
export(netvis)
export(coexvis)
export(split.exprs)
export(parse.corum)

importFrom(Rcpp, evalCpp)
importFrom(stats, quantile)
importFrom(stats,p.adjust)
importFrom(RcppParallel,RcppParallelLibs)
importFrom(GGally,ggpairs)
importFrom(GGally,getPlot)
importFrom(GGally,ggmatrix)
importFrom(GGally,wrap)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,aes)
importFrom(ggplot2,ggtitle)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_smooth)
importFrom(Rfast,comb_n)

importFrom(visNetwork,`%>%`)
importFrom(visNetwork,visNetwork)
importFrom(visNetwork,visInteraction)
importFrom(visNetwork,visLegend)
importFrom(visNetwork,visExport)
importFrom(visNetwork,addExport)
useDynLib(RoDiCE, .registration = TRUE)
